.wrapper {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.space {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    text-align: center;
}

#root.index>.wrapper>.stats {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

#root.index>.wrapper>.stats>div {
    width: 25%;
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
}

#root.index>.wrapper>.stats h2,
#root.index>.wrapper>.statsAndInventory>div:first-child>div h2 {
    margin: 0;
    text-align: center;
}

#root.index>.wrapper>.stats p,
#root.index>.wrapper>.statsAndInventory>div:first-child>div p {
    text-align: right;
    margin: 0;
}

#root.index>.wrapper .statsAndInventory {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 10px;
}

#root.index>.wrapper>.statsAndInventory>div {
    width: 23%;
    padding: 10px;
    position: relative;
}

#root.index>.wrapper>.statsAndInventory>div:last-child {
    width: 75%;
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

#root.index>.wrapper>.statsAndInventory>div:first-child>div {
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: calc(100% - 20px);
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
}

#root.index>.wrapper>.statsAndInventory>div:last-child h2 {
    margin: 0;
    text-align: right;
}

#root.index div.inventory {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#root.index div.inventory>div {
    width: calc(20% - 40px/5);
    background: rgba(0, 0, 0, 0.12);
    transition: 150ms;
}

#root.index div.inventory>div:hover {
    background: rgba(255, 255, 255, 0.08);
}

#root.index div.inventory>div>div {
    width: 100%;
    position: relative;
}

#root.index div.inventory>div>div>div.serial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 10px;
}

#root.index div.inventory>div>div>img {
    width: 100%;
    background: rgba(255, 255, 255, 0.02);
}

#root.index div.inventory>div>div:last-child {
    padding: 5px;
}

#root.index div.inventory>div>div:last-child>p {
    margin: 0;
    display: flex;
    align-items: baseline;
}

#root.index div.inventory>div>div:last-child>p>div {
    padding-top: 2px;
}

#root.index div.inventory>div>div:last-child>p>div>img {
    height: 15px;
}

div.rolipos {
    display: flex;
}

div.rolipos>div {
    display: inline-block;
    height: 22.5px;
}

a {
    text-decoration: none;
    color: #fff;
}